<center>
<div id="page_top"><a href="#"></a></div>
<footer>
  <div>
    <h3 style="padding: 30px 0px 0px 0px;">
      サイトマップ
    </h3>
    |
    <a href="">
      <font color="white">
        コマンド
      </font>
    </a>
    |
    <a href="">
      <font color="white">
        お知らせ
      </font>
    </a>
    |
    <a href="">
      <font color="white">
        つぶやき
      </font>
    </a>
    |
    <a href="">
      <font color="white">
        チーム
      </font>
    </a>
    |
  </div>
  <div>
    <h3>
      共有
    </h3>
    |
    <a href="https://twitter.com/share?url={{ サイトURL }}&via=TDiscordbot&related=TDiscordbot&hashtags=TakuTukirou&text=TakuTukirou公式ホームページで{{ ページタイトル }}を読む。" rel="nofollow" target="_blank">
      <font color="white">
        <i class="fab fa-twitter fa-fw">
        </i>
        Twitter
      </font>
    </a>
    |
    <a href="http://www.facebook.com/share.php?u={{ サイトURL }}" rel="nofollow" target="_blank">
      <font color="white">
        <i class="fab fa-facebook-f fa-fw">
        </i>
        Facebook
      </font>
    </a>
    |
    <a href="http://b.hatena.ne.jp/add?mode=confirm&url={{ サイトURL }}&title={{ ページタイトル }}" target="_blank" rel="nofollow">
      <font color="white">
        <i class="fab fa-bootstrap fa-fw">
        </i>
        はてブ
      </font>
    </a>
    |
    <a href="http://getpocket.com/edit?url={{ サイトURL }}&title={{ ページURL }}" rel="nofollow" rel="nofollow" target="_blank">
      <font color="white">
        <i class="fab fa-get-pocket fa-fw">
        </i>
        Pocket
      </font>
    </a>
    |
    <a href="https://timeline.line.me/social-plugin/share?url={{ サイトURL }}" target="_blank">
      <font color="white">
        <i class="fab fa-line fa-fw">
        </i>
        LINE
      </font>
    </a>
    |
    <span class="copy">
      <i class="fas fa-copy fa-fw">
      </i>
      コピー
    </span>
    <div id="modal-main">
      <p class="modal-text">
        タイトルとURLをコピーしました
      </p>
    </div>
    |
  </div>
  <div style="padding: 30px 0px;">
  Copyright © 2020 TakuTukirouTeam Inc. All Rights Reserved.
</footer>
</center>
