<header>
  <div class="header-logo">
    <a href=""><!--ここをwebサイトのアドレスに変える-->
      <img src="../img/takutuki.png" width="50" height="50">
    </a>
  </div>
  <div class="header-logo2">
    <a href=""><!--ここをwebサイトのアドレスに変える-->
      <font color="white">
        TakuTukirou
      </font>
    </a>
  </div>
  <div class="header-menu">
      |
    <a href="">
      <font color="white">
        お知らせ
      </font>
    </a>
      |
    <a href="">
      <font color="white">
        つぶやき
      </font>
    </a>
      |
    <a href="https://discord.gg/gphVMZD" target="_blank">
      <font color="white">
        月浪たく(TakuTukirou)公式サーバー
      </font>
    </a>
      |
    <a href="https://discordapp.com/oauth2/authorize?client_id=476012428170362880&permissions=2147347828&scope=bot" target="_blank">
      <font color="white">
        TakuTukirouを導入する
      </font>
    </a>
      |
    <a href=""><!--ここをダッシュボードのアドレスに変える-->
      <font color="white">
        ダッシュボード
      </font>
    </a>
      |
  </div>
</header>
